/******************************************************************************
            ChartJS
******************************************************************************/
/* http://www.chartjs.org/docs/
*/

/* Titre */
.chartjs-title {
    width: 100% !important;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.chartjs-tooltip {
    opacity: 0.7;
    position: absolute;
    /*font: normal 12px Verdana, sans-serif;*/
    font-size: 12px;
    font-style: normal;
    font-family: Verdana, Geneva, sans-serif;
    background: #C0C0C0;
    color:  #333333;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #333333;
    -webkit-border-radius:10px;
        -moz-border-radius:10px;
            border-radius:10px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

/*.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
}*/

/* Gauge */
.chartjs-gauge {
    color: #666666;
    font-style: normal;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0px;
}

/* Label */
.chartjs-label {
    color: #FFFFFF;
    font-style: normal;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
}