/******************************************************************************
            Flot
******************************************************************************/
/* https://github.com/flot/flot/blob/master/API.md
*/

/* Canvas */
.chart,
.flot-base {
    width: 100%;
    height: 500px;
}

/* Titre */
.flot-title {
    margin-top: 10px;
    color: #333333;
    font: bold 16px Verdana, sans-serif;
    text-align: center;
}

/* Légendes */
.legend > div {
    background-color: #FFFFFF;
    border: 2px solid #000000;
    display: inline-block;
    margin: 0 auto;
    bottom: 10px !important;
}

.legend > table {
    font: normal 12px Verdana, sans-serif !important;
    bottom: 10px !important;
}

/* Tooltip */
.flot-tooltip {
    border: 2px solid #333333;
	z-index: 10;
	background: #C0C0C0;
    color: #333333;
	opacity: 0.75;
}

/* Label */
.flot-label {
    color: #FFFFFF;
    font: normal 11px Verdana, sans-serif;
}

/*** Spécifique pour les Gauges ***/

/* Fond de la gauge */
.flot-gauge {
    border-color: #666666;
	background: #FFFFFF;
}

.flot-gauge-value {
    font-family: Verdana, sans-serif;
    color: #666666;
}

.flot-gauge-threshold {
    font-family: Verdana, sans-serif;
    color: #666666;
}

